

<div style="max-width: 1000px; height: 100%; padding: 20px; display: block; margin: 0 auto;">

    <style>
        .evCr-container {
            border: 1px solid #dddddd;
            border-radius: 2px;
            padding: 15px;
            overflow: hidden;
        }

        .evCr-typeSelect {
            border: 1px solid #dddddd;
            border-radius: 2px;
            padding: 10px;
            overflow: hidden;
        }

        .evCr-typeSelect > h4 {
            width: 100%;
            height: 30px;
        }

        .evCr-typeSelect > button {
            float: left;
            width: calc(25% - 15px);
            margin-right: 20px;
        }

        .evCr-eventContents {
            width: 100%;
            height: 320px;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-radius: 2px;
            padding: 10px;
        }

        .evCr-eventAttr {
            width: 50%;
            height: 50px;
            float: left;
        }

        .evCr-eventAttr > div {
            float: left;
            width: 150px;
            padding: 10px 0 10px 20px;
            height: 100%;
        }

        .evCr-eventAttr > div > h4 {
            float: left;
            margin: 0;
            height: 100%;
            line-height: 35px;
        }

        .evCr-eventAttr > input {
            float: left;
            width: calc(100% - 150px);
            margin: 8px 0 8px 0;
        }

        .evCr-eventAttr > .btn-group {
            float: left;
            width: calc(100% - 150px);
            padding: 0;
        }

        .evCr-eventAttr > .btn-group > button {
            width: 100%;
            margin: 8px 0 8px 0;
            text-align: left;
        }

        .evCr-eventAttr > .btn-group > ul > li {
            height: 25px;
            cursor: pointer;
            line-height: 25px;
            padding-left: 10px;
        }

        .evCr-eventAttr > .btn-group > ul > li:hover {
            background-color: #2b669a;
            color: #fafafa;
        }

        .evCr-createBtn {
            float: right;
            margin: 20px 0 10px 0;
        }
    </style>

    <div class="evCr-container">

        <h4 style="margin-bottom: 20px;">Create Event</h4>

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Mail delivery" ng-click="selectEventDefaults('mail')"></uib-tab>
            <uib-tab index="1" heading="Customer Prices" ng-click="selectEventDefaults('price')"></uib-tab>
            <uib-tab index="2" heading="Transport Cost" ng-click="selectEventDefaults('cost')"></uib-tab>
            <uib-tab index="3" heading="Discontinue" ng-click="selectEventDefaults('discontinue')"></uib-tab>
        </uib-tabset>

        <div class="evCr-eventContents">

            <div ng-repeat="(key, value) in selectedEvent" ng-if="key != 'eventType'">
                <div class="evCr-eventAttr">
                    <div><h4>{{key}}</h4></div>
                    <input ng-if="key != 'day'" type="text" class="form-control" ng-model="selectedEvent[key]">

                    <div class="btn-group" uib-dropdown ng-if="key == 'day'">
                        <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                            {{selectedEvent[key]}}
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                            <li role="menuitem"
                                ng-repeat="day in dayOptions"
                                ng-click="selectedEvent[key] = dayOptions[$index]">{{day}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <button class="btn btn-success evCr-createBtn"
                ng-click="createEvent()">
            Create Event
        </button>

    </div>

</div>