

<div style="max-width: 1000px; height: 100%; padding: 20px; display: block; margin: 0 auto;">

    <style>
        .evCr-container {
            border: 1px solid #dddddd;
            border-radius: 2px;
            padding: 15px;
            overflow: hidden;
            background-color: #f7f7f7;
        }

        .evCr-typeSelect {
            border: 1px solid #dddddd;
            border-radius: 2px;
            padding: 10px;
            overflow: hidden;
        }

        .evCr-typeSelect > h4 {
            width: 100%;
            height: 30px;
        }

        .evCr-typeSelect > button {
            float: left;
            width: calc(25% - 15px);
            margin-right: 20px;
        }

        .evCr-eventContents {
            width: 100%;
            height: 320px;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-radius: 2px;
            padding: 10px;
            background-color: #ffffff;
        }

        .evCr-eventAttr {
            width: 50%;
            height: 50px;
            float: left;
        }

        .evCr-eventAttr > div {
            float: left;
            width: 150px;
            padding: 10px 0 10px 20px;
            height: 100%;
        }

        .evCr-eventAttr > div > h4 {
            float: left;
            margin: 0;
            height: 100%;
            line-height: 35px;
        }

        .evCr-eventAttr > input {
            float: left;
            width: calc(100% - 150px);
            margin: 8px 0 8px 0;
        }

        .evCr-eventAttr > .btn-group {
            float: left;
            width: calc(100% - 150px);
            padding: 0;
        }

        .evCr-eventAttr > .btn-group > button {
            width: 100%;
            margin: 8px 0 8px 0;
            text-align: left;
        }

        .evCr-eventAttr > .btn-group > ul > li {
            height: 25px;
            cursor: pointer;
            line-height: 25px;
            padding-left: 10px;
        }

        .evCr-eventAttr > .btn-group > ul > li:hover {
            background-color: #2b669a;
            color: #fafafa;
        }

        .evCr-newEventSuccess {
            float: left;
            width: calc(100% - 150px);
            color: #5cb85c;
            height: 34px;
            margin-top: 20px;
            line-height: 34px;
        }

        .evCr-createBtn {
            float: right;
            margin: 20px 0 10px 0;
            width: 120px;
        }
    </style>

    <div class="evCr-container">

        <h4 style="margin-bottom: 20px;">Create Event</h4>

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Add Mail" ng-click="selectEventDefaults('mail')"></uib-tab>
            <uib-tab index="1" heading="Update Route Price" ng-click="selectEventDefaults('price')"></uib-tab>
            <uib-tab index="2" heading="Update Route Cost" ng-click="selectEventDefaults('cost')"></uib-tab>
            <uib-tab index="3" heading="Add Route" ng-click="selectEventDefaults('newRoute')"></uib-tab>
            <uib-tab index="4" heading="Discontinue Route Transport" ng-click="selectEventDefaults('discontinue')"></uib-tab>
        </uib-tabset>

        <div class="evCr-eventContents" ng-click="clearEventMessages()">

            <div ng-show="selectedEvent.eventType == 'mail'"
                 ng-include src="'templates/mailEventForm.html'"></div>

            <div ng-show="selectedEvent.eventType == 'price'"
                 ng-include src="'templates/priceEventForm.html'"></div>

            <div ng-show="selectedEvent.eventType == 'cost'"
                 ng-include src="'templates/costEventForm.html'"></div>

            <div ng-show="selectedEvent.eventType == 'newRoute'"
                 ng-include src="'templates/newRouteForm.html'"></div>

            <div ng-show="selectedEvent.eventType == 'discontinue'"
                 ng-include src="'templates/discontinueEventForm.html'"></div>

        </div>

        <div class="evCr-newEventSuccess" ng-if="newEventSuccess">
            Event creation successful
        </div>

        <div class="evCr-newEventSuccess" ng-if="eventCreationError.length > 0" style="color: #B71C1C;">
            {{eventCreationError}}
        </div>

        <button class="btn btn-success evCr-createBtn"
                ng-click="createEvent()">
            <div ng-show="selectedEvent.eventType == 'mail' || selectedEvent.eventType == 'newRoute'">Add</div>
            <div ng-show="selectedEvent.eventType == 'price'">Update</div>
            <div ng-show="selectedEvent.eventType == 'cost'">Update</div>
            <div ng-show="selectedEvent.eventType == 'discontinue'">Discontinue</div>
        </button>

    </div>

</div>