<div id = "figuresBar" ng-mouseenter="toggleExtras()" ng-mouseleave="toggleExtras()">

    <!-- Primary bar -->
    <div class = "bar">
        <div class = "first segment">
            <span class = "label label-info" style = "font-size: 100%;">
                Revenue
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Daily: $389.98 <!-- Change this value -->
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Weekly: $5865.78 <!-- Change this value -->
            </span>
        </div>
        <div class = "second segment">
            <span class = "label label-success" style = "font-size: 100%;">
                Expenditure
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Daily: $165.67 <!-- Change this value -->
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Weekly: $1345.62 <!-- Change this value -->
            </span>
        </div>
        <div class = "third segment">
            <span class = "label label-warning" style = "font-size: 100%;">
                Delivery Times
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Average: 12.6hrs <!-- Change this value -->
            </span>
        </div>
    </div>

    <!-- Extras bar -->
    <div class = "bar" id = "extras" style = "display: none">
        <div class = "first segment">
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
        </div>
        <div class = "second segment">
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
        </div>
        <div class = "third segment">
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
        </div>
    </div>

</div>
