<div id = "figuresBar" ng-mouseenter="toggleExtras()" ng-mouseleave="toggleExtras()">

    <!-- Primary bar -->
    <div class = "bar">
        <div class = "first segment">
            <span class = "label label-info" style = "font-size: 100%;">
                Total Number of Events: {{ eventListLength }}
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Total Revenue: ${{ totalRevenue }}
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Total Expenditure: ${{ totalExpenditure }}
            </span>
        </div>
        <div class = "second segment">
            <span class = "label label-success" style = "font-size: 100%;">
                Total Amount of mail Items: {{ numberMailItems }}
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Total Weight of all Mail Items: {{ totalMailWeight }}g
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Total Volume of all Mail items: {{ totalMailVolume }}cm3
            </span>
        </div>
        <div class = "third segment">
            <span class = "label label-warning" style = "font-size: 100%;">
                Average Delivery Time: Wellington -> Sydney
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Priority: AIR: {{ averages[0] }} {{ hoursTag1 }}
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Priority: STANDARD: {{ averages[1] }} {{ hoursTag2 }}
            </span>
        </div>
    </div>

    <!-- Extras bar -->
    <div class = "bar" id = "extras" style = "display: none">
        <div class = "first segment">
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
        </div>
        <div class = "second segment">
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
            <div class = "gap">&nbsp</div>
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
        </div>
        <div class = "third segment">
            <span class = "segTitle grey">
                Extra stuff: ??? <!-- Change this value -->
            </span>
        </div>
    </div>

</div>
