
<style>
    .manager-header {
        width: 100%;
        height: 60px;
        background-color: #3F51B5;
    }

    .clerk-headerToggleButton {
        float: left;
        color: #fafafa;
        /*margin: 0 0 0 20px;*/
        padding-left: 15px;
        height: 60px;
        width: 5%;
        line-height: 55px;
    }

    .manager-headerUsername {
        float: left;
        color: #fafafa;
        padding-left: 20px;
        margin:0;
        height: 60px;
        width: 25%;
        line-height: 60px;
    }

    .manager-headerLogout {
        float: left;
        margin:0;
        color: #fafafa;
        height: 60px;
        width: 30%;
        padding-right: 20px;
        text-align: right;
        line-height: 60px;
        cursor: pointer;
    }

    .manager-headerLogout:hover, .manager-headerCreateEvent:hover, .manager-headerAnalyse:hover{
        color: #C5CAE9;
    }

    .manager-headerTabs{
        height: 100%;
        float: left;
        color: white;
        vertical-align: middle;
        width: 40%;
    }
    .manager-headerCreateEvent{
        float: left;
        color: white;
        cursor: pointer;
        width: 50%;
    }
    .manager-headerAnalyse{
        float: left;
        cursor: pointer;
        width: 50%;
    }
    .manager-headerCreateEvent > h4 {
        width: 120px;
        margin: 0;
        line-height: 60px;
        float: right;
        text-align: center;
    }
    .manager-headerAnalyse > h4 {
        width: 120px;
        margin: 0;
        line-height: 60px;
        text-align: center;
    }
    .manager-selectedTab {
        background-color: #5C6BC0;
    }

    .manager-analyseContainer{
        border: 1px solid #dddddd;
        border-radius: 2px;
        padding: 15px;
        background-color: #f7f7f7;
        overflow: hidden;
    }

    .manager-eventList-container{
        padding: 15px;
        border: 1px solid #dddddd;
        border-radius: 2px;
        overflow: hidden;
        background-color: white;
        max-height: 400px;
        overflow-y: scroll;
    }

    .manager-eventList-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #ccc;
        /*opacity: 0.5;*/
    }

    .manager-eventList-container::-webkit-scrollbar {
        width: 7px;
    }

    .manager-eventItem{
        /*height: 300px;*/
        overflow-y: hidden;
        width: 90%;
        margin: 20px 5%;
        border: 1px solid #ddd;
        border-radius: 2px;
        background-color: #f7f7f7;
    }

    .manager-eventItem-panel{
        width: 50%;
        float: left;
        /*height: 100%;*/
    }

    .manager-titleCol{
        line-height: 50px;
        height: 50px;
    }

    .manager-title{
        font-size: 18px;
        color: #333;
    }

    .manager-figureCol{
        line-height: 50px;
        height: 50px;
    }

    .manager-figure{
        color: #999;
    }

    .manager-figureRow{
        height: 50px;
    }

    #right {
        overflow: auto;
    }

    #MainContainer{
        width: 100%;
        float: left;
        height: 100vh;
    }

    #figureButton {
        border: none;
    }

    .btn:focus, .btn:active {
        outline: hidden;
    }
</style>

<div id = "MainContainer">

    <figures></figures>

    <div id = "right">

        <div class="manager-header">
            <div class = "clerk-headerToggleButton">
                <button id="figureButton" class = "btn btn-default" ng-click = "toggleFigures()">
                    <span class = "glyphicon glyphicon-menu-hamburger"></span>
                </button>
            </div>
            <h2 class="manager-headerUsername">
                {{manager.username}}
            </h2>
            <div class="manager-headerTabs">
                <div class="manager-headerCreateEvent" ng-click="manager.goToPage('newEvent')">
                    <h4 ng-class="manager.pageToShow == 'newEvent' ? 'manager-selectedTab':''">
                        New Event</h4>
                </div>
                <div class="manager-headerAnalyse" ng-click="manager.goToPage('analyse')">
                    <h4 ng-class="manager.pageToShow == 'analyse' ? 'manager-selectedTab':''">
                        Analyse</h4>
                </div>
            </div>
            <h4 class="manager-headerLogout" ng-click="manager.logout()">
                Logout
            </h4>
        </div>

        <event-creator ng-show="manager.pageToShow == 'newEvent'"></event-creator>

<div style="max-width: 1000px; height: 100%; padding: 20px; display: block; margin: 0 auto;" ng-show="manager.pageToShow == 'analyse'">
    <div class="manager-analyseContainer">
        <h4 style="margin-bottom: 20px;">View Events</h4>
        <div class="manager-eventList-container">
            <div class="manager-eventList">
                <div class="manager-eventItem" ng-repeat="event in manager.eventList track by $index">
                    <div class="manager-eventItem-panel container-fluid">
                        <div class="row manager-figureRow">
                            <div class="col-xs-12 manager-titleCol">
                                <p class="manager-title" style="color: black; font-size: 24px; text-transform:capitalize;">{{event.eventType}} Event</p>
                            </div>
                            <!--<div class="col-xs-0 manager-figureCol">-->
                            <!--<p class="manager-figure" style="color: black; font-size: 20px; "></p>-->
                            <!--</div>-->
                        </div>
                        <div class="row manager-figureRow">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">From</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.from}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">To</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.to}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.priority">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Priority</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.priority}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.duration">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Duration</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.duration}} hrs</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.maxVolume">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Max Volume</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.maxVolume}} cm&sup3</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.maxWeight">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Max Weight</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.maxWeight}}g</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.frequency">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Frequency</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.frequency}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="manager-eventItem-panel container-fluid">
                        <div class="row manager-figureRow">
                            <!--<div class="col-xs-4 manager-titleCol">-->
                            <!--<p class="manager-title"></p>-->
                            <!--</div>-->
                            <div class="col-xs-12 manager-figureCol" style="text-align: right;">
                                <p class="manager-figure" style="color: black;">{{event.timestamp | date: 'medium'}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.company">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Company</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.company}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.type">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Type</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.type}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.day">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Day</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.day}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.volumeCost">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Volume Cost</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">${{event.volumeCost}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.weightCost">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Weight Cost</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">${{event.weightCost}}</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.volume">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Volume</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.volume}} cm&sup3</p>
                            </div>
                        </div>
                        <div class="row manager-figureRow" ng-if="event.weight">
                            <div class="col-xs-5 manager-titleCol">
                                <p class="manager-title">Weight</p>
                            </div>
                            <div class="col-xs-7 manager-figureCol">
                                <p class="manager-figure">{{event.weight}}g</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>