
<style>
    .manager-header {
        width: 100%;
        height: 60px;
        background-color: #3F51B5;
    }

    .manager-headerUsername {
        float: left;
        color: #fafafa;
        padding-left: 20px;
        margin:0;
        height: 60px;
        width: 30%;
        line-height: 60px;
    }

    .manager-headerLogout {
        float: left;
        margin:0;
        color: #fafafa;
        height: 60px;
        width: 30%;
        padding-right: 20px;
        text-align: right;
        line-height: 60px;
        cursor: pointer;
    }

    .manager-headerLogout:hover, .manager-headerCreateEvent:hover, .manager-headerAnalyse:hover{
        color: #C5CAE9;
    }

    .manager-headerTabs{
        height: 100%;
        float: left;
        color: white;
        vertical-align: middle;
        width: 40%;
    }
    .manager-headerCreateEvent{
        float: left;
        color: white;
        cursor: pointer;
        width: 50%;
    }
    .manager-headerAnalyse{
        float: left;
        cursor: pointer;
        width: 50%;
    }
    .manager-headerCreateEvent > h4 {
        width: 120px;
        margin: 0;
        line-height: 60px;
        float: right;
        text-align: center;
    }
    .manager-headerAnalyse > h4 {
        width: 120px;
        margin: 0;
        line-height: 60px;
        text-align: center;
    }
    .manager-selectedTab {
        background-color: #5C6BC0;
    }

    .manager-analyseContainer{
        border: 1px solid #dddddd;
        border-radius: 2px;
        padding: 15px;
        background-color: #f7f7f7;
        overflow: hidden;
    }

    .manager-eventList-container{
        padding: 15px;
        border: 1px solid #dddddd;
        border-radius: 2px;
        overflow: hidden;
        background-color: white;
        max-height: 300px;
        overflow-y: scroll;
    }

    .manager-eventList-container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #ccc;
        /*opacity: 0.5;*/
    }

    .manager-eventList-container::-webkit-scrollbar {
        width: 7px;
    }

    .manager-eventItem{
        height: 200px;
        width: 90%;
        margin: 20px 5%;
        border: 1px solid #ddd;
        border-radius: 2px;
        background-color: #f7f7f7;
    }

    .manager-eventItem-panel{
        width: 50%;
        float: left;
        height: 100%;
    }
</style>

<div class="manager-header">
    <h2 class="manager-headerUsername">
        {{manager.username}}
    </h2>
    <div class="manager-headerTabs">
        <div class="manager-headerCreateEvent" ng-click="manager.goToPage('newEvent')">
            <h4 ng-class="manager.pageToShow == 'newEvent' ? 'manager-selectedTab':''">
                New Event</h4>
        </div>
        <div class="manager-headerAnalyse" ng-click="manager.goToPage('analyse')">
            <h4 ng-class="manager.pageToShow == 'analyse' ? 'manager-selectedTab':''">
                Analyse</h4>
        </div>
    </div>
    <h4 class="manager-headerLogout" ng-click="manager.logout()">
        Logout
    </h4>
</div>

<event-creator ng-show="manager.pageToShow == 'newEvent'"></event-creator>

<div style="max-width: 1000px; height: 100%; padding: 20px; display: block; margin: 0 auto;">
    <div class="manager-analyseContainer" ng-show="manager.pageToShow == 'analyse'">
        <h4 style="margin-bottom: 20px;">View Events</h4>
        <div class="manager-eventList-container">
            <div class="manager-eventList">
                <div class="manager-eventItem" ng-repeat="event in manager.eventList track by $index">
                    <div class="manager-eventItem-panel">

                    </div>
                    <div class="manager-eventItem-panel">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>