<div class="evCr-eventAttr">
    <div><h4>Route</h4></div>
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <b>{{selectedEvent.route.to}}</b> to <b>{{selectedEvent.route.from}}</b>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width: 100%;">
            <li role="menuitem"
                ng-repeat="route in activeRoutes"
                ng-click="selectedEvent.route = route; selectedEvent.transport = route.transportList[0]">
                <b>{{route.to}}</b> to <b>{{route.from}}</b>
            </li>
        </ul>
    </div>
</div>

<div class="evCr-eventAttr">
    <div><h4>Priority</h4></div>
    <div class="btn-group" uib-dropdown>
        <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <b ng-show="selectedEvent.highPriority == true">High</b>
            <b ng-show="selectedEvent.highPriority == false">Standard</b>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="width: 100%;">
            <li role="menuitem"
                ng-click="selectedEvent.highPriority = true; selectedEvent.weightCost = selectedEvent.route.airPriceInfo.weightCost; selectedEvent.volumeCost = selectedEvent.route.airPriceInfo.volumeCost;"><b>High</b></li>
            <li role="menuitem"
                ng-click="selectedEvent.highPriority = false; selectedEvent.weightCost = selectedEvent.route.standardPriceInfo.weightCost; selectedEvent.volumeCost = selectedEvent.route.standardPriceInfo.volumeCost;"><b>Standard</b></li>
        </ul>
    </div>
</div>

<div class="evCr-eventAttr" >
    <div><h4>Weight Cost <label style="font-size: 10px;"></label></h4></div>
    <input type="text" class="form-control" style="font-weight: bold"
           ng-model="selectedEvent.weightCost">
</div>

<div class="evCr-eventAttr" >
    <div><h4>Volume Cost <label style="font-size: 10px;"></label></h4></div>
    <input type="text" class="form-control" style="font-weight: bold"
           ng-model="selectedEvent.volumeCost">
</div>
